<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- 若您需要使用Kendo UI Professional，请联系版权人获得合法的授权或许可。 -->
    <!-- Bootstrap css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bkclouds.cc/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bkclouds.cc/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="https://magicbox.bkclouds.cc/static_api/analysis.js"></script>
    <script src="${STATIC_URL}js/csrftoken.js"></script>   
    <!-- 数据分页 -->
    <script src="${STATIC_URL}js/jquery.pagination.js"></script>      
    <!-- 以下两个插件用于在IE8以及以下版本浏览器支持HTML5元素和媒体查询，如果不需要用可以移除 -->
    <!--[if lt IE 9]><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/html5shiv.min.js"></script><script src="https://magicbox.bkclouds.cc/static_api/v3/assets/js/respond.min.js"></script><![endif]-->
</head>

<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-layout1-header">
            <div class="king-instruction  king-instruction-info ">
                <h5>提示说明</h5>
                <p>“TCP端口扫描”是基于蓝鲸SAAS应用的一款小工具。具有利用TCP协议对目标服务器的端口进行扫描的功能，可以指定多个端口，以此验证该目标服务器的端口通讯是否正常。<br>
					&nbsp&nbsp本工具通过celery开发的分布式异步消息任务队列；同时需要注意本工具在正式环境会在安装APPO的服务器进行对目标服务器的扫描，在测试环境会在安装APPT的服务器进行对目标服务器的扫描；</p>
            </div>
            <form class="form-horizontal">
                <nav role="navigation" class="navbar navbar-default king-horizontal-nav2    f14 ">
                    <div class="container " style="width:100%;overflow:hidden;">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed navbar-toggle-sm" data-toggle="collapse" data-target="#king-horizontal-nav2-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="http://paas.nianhuatech.com:7001">                           
                                <img src="https://magicbox.bkclouds.cc/static_api/v3/bk/images/logo3.png" href="http://paas.nianhuatech.com:7001" alt="" class="logo"> </a>
                        </div>
                        <div class="collapse navbar-collapse navbar-responsive-collapse" id="king-horizontal-nav2-collapse">
                            <ul class="nav navbar-nav">
                                <li class="king-navbar-active"><a href="javascript:void(0);">TCP端口扫描</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
			                  <a href="###" class="avatar">
			                    <img src="${STATIC_URL}img/getheadimg.jpg" width="40" alt="Avatar" class="avatar-img">
			                    % if request.user.is_superuser:
			                        <i class="crown"></i>
			                    % endif
			                    <span>${request.user.username}</span>
			                  </a>
			                  <!--退出登录-->
			                  <a id="logout" href="${LOGOUT_URL}">注销</a>
                            </ul>
                        </div>
                    </div>
                </nav>     
<!--                 <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">源主机名：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control bk-valign-top" id="source_hostname" placeholder="请输入源主机名,默认所有主机"> </div>
                </div> -->
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">目标IP：</label>
<!--                     <div class="col-sm-6">
                        <input type="text" class="form-control bk-valign-top" id="target_ip" placeholder="请输入目标IP,多个IP以逗号分隔"> </div> -->
					<div class="col-sm-6">
						<select id="target_ip" class="form-control bk-valign-top">
							<option>我是第1个选项</option>
						</select>
					</div>
                </div>
                <div class="form-group clearfix ">
                    <label class="col-sm-3 control-label bk-lh30 pt0">目标端口：</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control bk-valign-top" id="target_port" placeholder="请输入目标端口,多个端口以逗号分隔"> </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="button" class="king-btn mr10  king-success" id="bt_scan">开始扫描</button>
                        <button type="button" class="king-btn king-default" id="bt_scan_cancel">取消</button>
                    </div>
                </div>
            </form>           
            
        </div>
        <div class="king-layout2-main mt15" style="width:960px;">
            <table class="table mb0 pr15 ranger-box " id="scan_record">
                <thead>
                    <tr>
                        <th>源主机名</th>
                        <th>目标IP</th>
                        <th>端口</th>
                        <th>状态</th>
                        <th>协议</th>
                        <th>扫描时间</th>
                    </tr>
                </thead>
                <tbody> 
                </tbody>
            </table>         
        </div>
    </div>
    <script>
  　　function get_user_ips(){ 　　
		$.post("${SITE_URL}get_user_ips/",{
			'username':"${request.user.username}",
		},function(res){
			if (res.result) {
				alert(res);
			}else {
				alert(res.text);
			}
		}, 'json');	  
	  } 　　　  
	 window.onload = get_user_ips;//不要括号 
    
    
    
    
    
    
    
    
    
    
    $(function() {
		$("#bt_scan").click(function() {	
		    var table = document.getElementById("scan_record");
		    var len = table.rows.length; 
		    for(var i = 1; i < len;i++){
		        table.deleteRow(i);
		        len=len-1;
		        i=i-1;
		    }
			
			var target_ip = $("#target_ip").val().trim();
			var target_port = $("#target_port").val().trim();				
			$.post("${SITE_URL}port_scan/",{
				'target_ip':target_ip,
				'target_port':target_port
			},function(res){
				if (res.result) {
					document.getElementById("bt_scan").setAttribute("disabled", true);
				}else {
					alert(res.text);
				}
			}, 'json');			
		})
	})	
	
    $(function() {
		$("#bt_scan_cancel").click(function() {				
			$.post("${SITE_URL}portScanCancel/",{
			},function(res){
				if (res.result) {
					document.getElementById("bt_scan").removeAttribute("disabled");
				}else {
					alert(res.text);
				}
			}, 'json');			
		})
	})	
		
	
	Date.prototype.Format = function (fmt) { //author: meizz
		var o = {
		"M+": this.getMonth() + 1, //月份
		"d+": this.getDate(), //日
		"h+": this.getHours(), //小时
		"m+": this.getMinutes(), //分
		"s+": this.getSeconds(), //秒
		"q+": Math.floor((this.getMonth() + 3) / 3), //季度
		"S": this.getMilliseconds() //毫秒
		};
		if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
		for (var k in o)
		if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
		return fmt;
	}
	
	var nowTime= new Date().Format("yyyy-MM-dd hh:mm:ss");
    function fscan_records() {
			$.post("${SITE_URL}get_scan_records/",{
				'nowTime':nowTime
			},function(res){
				if (res.result) {
					if(res.is_end){
						document.getElementById("bt_scan").removeAttribute("disabled");
					}
				    var table = document.getElementById("scan_record");
				    var len = table.rows.length; 
				    for(var i = 1; i < len;i++){
				        table.deleteRow(i);
				        len=len-1;
				        i=i-1;
				    }
					all_record = JSON.parse(res.all_record); 
                    for (var i = 0; i < all_record.length; i++) {
	                    var row = document.getElementById("scan_record").insertRow();
	                    if(row!=null){
	                            cell=row.insertCell();
	                            cell.innerHTML=all_record[i].source_hostname;
	                            cell = row.insertCell();
	                            cell.innerHTML=all_record[i].target_ip;
	                            cell = row.insertCell();
	                            cell.innerHTML=all_record[i].target_port;
	                            cell = row.insertCell();
	                            if(all_record[i].state == "open"){cell.style.color = "green"}else{cell.style.color = "red"};
	                            cell.innerHTML=all_record[i].state;	                            
	                            cell = row.insertCell();
	                            cell.innerHTML=all_record[i].protocol;
	                            cell = row.insertCell();
	                            cell.innerHTML=all_record[i].scan_time;                                              
	                    }  
	                    nowTime = all_record[i].scan_time;
                    }
				}else {
					//alert("调用失败");
				}
			}, 'json');			
	}  
    //window.setInterval(fscan_records, 2000);  
      
    </script>
</body>

</html>